**
!Dockerfile.dapper
!ubuntu-apt.lock
!bin/
!bin/resource-scheduler
!package/
!package/Dockerfile
!package/pasturestack-entrypoint.sh
!package/update-pasturestack-ca
!LICENSE
!COMPATIBILITY.md
!ORIGIN.md
!SECURITY.md
!THIRD_PARTY_NOTICES.md
!LICENSES/
!LICENSES/**
